@page  "{pageName}"
@using Microsoft.EntityFrameworkCore.Internal
@model Kredek.Areas.CMS.Pages.Test.AllElementsModel

@{
    ViewData["Title"] = "AllElements";

}

<h1>Content on the page [@Model.PageContentViewModel.PageName] </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @* Position *@
                @Html.DisplayNameFor(model => model.PageContent[0].Position)
            </th>
            <th>
                @* Content type *@
                Template type
            </th>
            <th>
                Translations
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
        }
        @foreach (var item in Model.PageContentViewModel.Elements)
        {
            <tr>
                <td>
                    @(i++)
                </td>
                <td>
                    @item.TypeName
                </td>
                <td>
                    <a class="btn btn-info" href="#">View all</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @* Position *@
                @Html.DisplayNameFor(model => model.PageContent[0].Position)
            </th>
            <th>
                @* Content type *@
                Template type
            </th>
            <th>
                Translations
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var y = 1;
        }
        @foreach (var item in Model.PageContent[0].ContentElementTranslations.ToList())
        {
            <tr>
                <td>
                    @(y++)
                </td>
                <td>
                    @item.GetType().ShortDisplayName()
                </td>
                <td>
                    <a class="btn btn-info" href="#">View all</a>
                    <a asp-page="/ContentElementTranslationManagement/@item.GetType().ShortDisplayName()Management/Details"
                       asp-route-id="@item.ContentElementTranslationId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>