@model Kredek.Data.ViewModels.ImageAndTextTemplateViewModel

@{
    string pathToImage;

    bool imgFromInternet = Model.ImageUrl.Contains("www.") || Model.ImageUrl.Contains("http");
    if (imgFromInternet)
    {
        pathToImage = $@"{Model.ImageUrl}";
    }
    else
    {
        pathToImage = $@"..\{Model.ImageUrl}";
        char oldLine = '\\';
        char newLine = '/';
        pathToImage = pathToImage.Replace(oldLine, newLine);
    }
}

<div class="container">
    <div class="row">
        @if (Model.IsLeft)
        {
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                <img class="img-thumbnail" src="@pathToImage" />
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                <h2 style="font-weight: bold">@Model.Title</h2>
                <p>@Model.Text</p>
            </div>
        }
        else
        {
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
            <h2 style="font-weight: bold">@Model.Title</h2>
            <p>@Model.Text</p>
        </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                    <img class="img-thumbnail" src="@pathToImage" />
                </div>
            }
        </div>
</div>