@using Kredek.Data.Models.ContentElementTranslationTemplates
@using Kredek.Logic
@model (Blogging, IBloggingManager)

@{
    ViewData["Title"] = "Blog";
    var result = await Model.Item2.GetPostsAsync();
    //TODO add validation
    var facebookPagePost = result.Posts;
}

<h1>@Model.Item1.Intro</h1>

<div class="container ">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12 ">
            @foreach (var post in facebookPagePost)
            {
                <div class="card bg-light mb-4 p-5 p-sm-0 p-md-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-text">
                                    <a href="@post.SourceUrl">Zobacz na Facebook </a>
                                </h5>
                            </div>
                            <div class="col-6 text-right">
                                <p class="card-text">
                                    <small class="text-muted">@post.CreatedTime</small>
                                </p>
                            </div>
                        </div>
                        <hr />
                        <p class="card-title text-justify text-center">
                            @post.Content
                        </p>
                        <img class="card-img-top card-img-bottom"
                             src="@post.Picture"
                             alt="Card image cap">
                    </div>
                </div>
            }

            <div class="card bg-light mb-4 p-5 p-sm-0 p-md-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10 offset-1 text-center">
                            @Model.Item1.FindMore
                            <a href="https://www.facebook.com/KNKredek/">Facebooku</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>