@page
@model Kredek.Areas.CMS.Pages.ContentElementTranslationManagement.ImageAndTextRightManagement.DetailsModel

<div>
    <h4>ImageAndTextRight</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageAndTextRight.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageAndTextRight.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageAndTextRight.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageAndTextRight.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageAndTextRight.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageAndTextRight.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageAndTextRight.ContentElement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageAndTextRight.ContentElement.ContentElementId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageAndTextRight.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageAndTextRight.Language.LanguageId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ImageAndTextRight.ContentElementTranslationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
