@model IList<Kredek.Data.Models.WebsitePageTranslation>

<div class="text-center">
    <h4>Dostępne tłumaczenia strony [ @Model.FirstOrDefault().WebsitePage.Name ]</h4>
    <br />
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <img src="~/img/@(item.Language.ISOCode).png" /> &nbsp&nbsp <b>[ @item.Language.Name ]</b>
                </div>
                <div class="card-body">
                    <p>NameInNavigationBar: @Html.DisplayFor(modelItem => item.NameInNavigationBar)</p>
                    <p>Title: @Html.DisplayFor(modelItem => item.Title)</p>
                </div>
                <div class="card-footer text-right">
                    <h6>
                        <a asp-page="./Edit" asp-route-id="@item.WebsitePageTranslationId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.WebsitePageTranslationId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.WebsitePageTranslationId">Delete</a>
                    </h6>
                </div>
            </div>
        </div>
    }
</div>