@model IndexModel
@*


    @foreach (var language in Model.Languages)
    {

        <form asp-page-handler="ChangeLanguage" asp-route-language="@language" asp-route-pageName="@Model.CurrentPage.Name" method="post">
            @if (language == "en")
            {
                <img height="20" width="20" src="~/img/en.png" />
            }
            @if (language == "pl")
            {
                <img height="20" width="20" src="~/img/pl.png" />
            }
            <button>Set language to [@language]</button>
        </form>
        <br />
    }


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img height="20" width="20" src="~/img/en.png" />
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#"> <img height="20" width="20" src="~/img/en.png" />&nbsp&nbsp English</a>
            <a class="dropdown-item" href="#"> <img height="20" width="20" src="~/img/pl.png" />&nbsp&nbsp Polski</a>
        </div>
    </li>
*@


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img height="20" width="20" src="~/img/@(Model.CurrentLanguage).png" />
    </a>
    
    <div class="dropdown-menu">
        @foreach (var language in Model.Languages)
        {

            <form asp-page-handler="ChangeLanguage" asp-route-language="@language" asp-route-pageName="@Model.CurrentPage.Name" method="post">
                <button class="dropdown-item"><img height="20" width="20" src="~/img/@(@language).png" />&nbsp&nbsp @language</button>
            </form>
        }
    </div>
</li>







