@page
@using Kredek.Pages.TestFeatures.OurTeamJSONData
@using Newtonsoft.Json
@model Kredek.Pages.TestFeatures.OurTeamModel
@{
    ViewData["Title"] = "Our Team";
}

<style>
    .custom-card-img-top {
        width: 100%;
        height: 22vw;
        object-fit: cover;
    }
</style>

@{

    var result = Model.SetTestRequest("/groups", "$expand=members");
    //var result = Model.SetTestRequest("/users");

    var deserializedResult = JsonConvert.DeserializeObject(result);

    var AzureGroup = JsonConvert.DeserializeObject<AzureGroups>(result);

    Model.OurTeam = AzureGroup.Groups.FirstOrDefault().GroupMembers.ToList();
}

<!-- #region Test members  -->
@{
    Model.OurTeam.Add(new TeamMember() { DisplayName = "mgr inż. Artur Jordan" });
    Model.OurTeam.Add(new TeamMember() { DisplayName = "Aleksander Szczęsny" });
    Model.OurTeam.Add(new TeamMember() { DisplayName = "Magdalena Biernat" });
    Model.OurTeam.Add(new TeamMember() { DisplayName = "Kinga Marek" });
    Model.OurTeam.Add(new TeamMember() { DisplayName = "Mateusz Bortkiewicz" });
    Model.OurTeam.Add(new TeamMember() { DisplayName = "Adrianna Bisikiewicz" });
    Model.OurTeam.Add(new TeamMember() { DisplayName = "Dawid Kobierski" });
    Model.OurTeam.Add(new TeamMember() { DisplayName = "Justyna Setlak" });
    Model.OurTeam.Add(new TeamMember() { DisplayName = "Krystian Kolad" });
    Model.OurTeam.Add(new TeamMember() { DisplayName = "Milena Łukasik" });

    int columns = 4;
}
<!-- #endregion -->

@for (int j = 0; j < Model.OurTeam.Count; j++)
{
    if (j % columns == 0)
    {
        @Html.Raw("<div class=\"row\">")
    }

    var teamMember = Model.OurTeam[j];

    <div class="col-3 mb-4">
        <div class="card border-0 shadow">

            @{
                string imageUrl = !String.IsNullOrEmpty(teamMember.UserImageUrl) ? teamMember.UserImageUrl : "http://www.siddhivinayaktsv.org.au/wp-content/uploads/2018/05/icon-user-default.png";
            }

            <img src="@imageUrl" class="card-img-top custom-card-img-top">
            <div class="card-body text-center">
                <h5 class="card-title mb-0">@teamMember.DisplayName</h5>
                <div class="card-text text-black-50">@teamMember.DisplayName</div>
            </div>
        </div>
    </div>

    if (j % columns == columns - 1)
    {
        @Html.Raw("</div>")
    }
}