@using Kredek.Global
@model IndexModel

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index" asp-route-language="@Model.CurrentLanguage" asp-route-pageName="@DefaultVariables.DefaultPage">
                <img src="~/img/logo.png" style="height: 30px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav ">
                    @foreach (var pageName in Model.Navigation.Keys.ToList())
                    {
                        <li class="nav-item">
                            @{
                                string navigationTabName = String.Empty;

                                bool hasNavigationName = Model.Navigation[pageName].TryGetValue(Model.CurrentLanguage, out navigationTabName);
                                if (!hasNavigationName)
                                {
                                    break;
                                }

                                bool doesItCurrentPage = Model.CurrentPage.Name == pageName;

                                string currentPageStyle = doesItCurrentPage ? "font-weight-bold" : String.Empty;
                                string currentPageDisplayName = doesItCurrentPage ? "<u>" + @navigationTabName + "</u>" : @navigationTabName;
                            }
                            <a asp-area="" asp-page="/Index" asp-route-language="@Model.CurrentLanguage" asp-route-pageName="@pageName"  class="nav-link text-dark @currentPageStyle"> @Html.Raw(currentPageDisplayName) </a>
                        </li>
                    }
                    @await Html.PartialAsync("Shared/_Languages")
                </ul>
            </div>
        </div>
    </nav>
</header>